#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.jobCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

.infiniteScrollContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.jobFilterContainer {
  padding: 2rem;
}
