#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.jobCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

.infiniteScrollContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.jobFilterContainer {
  padding: 2rem;
}

.scrollToTopButton {
  position: fixed !important;
  right: 30px !important;
  bottom: 20px !important;
  z-index: 999 !important;
  border-radius: 50% !important;
  background-color: rgb(0, 0, 255) !important;
  box-shadow: rgba(0, 0, 255, 0.25) 3px 8px 15px 0px !important;
  color: #ffffff !important;
}
